[submodule "submodules/libDAI"]
	path = submodules/libDAI
	url = ../../4progress/libDAI
[submodule "submodules/pyperplan"]
	path = submodules/pyperplan
	url = ./submodules/pyperplan
[submodule "submodules/val"]
	path = submodules/val
	url = git@github.com:fnivek/VAL.git
